{% extends "layout.html" %}
{% block content %}

<html lang="ja">
    <head>
        <title>Index</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <center>
    <body>
        <div class="header">
            <!--Content before waves-->
            <div class="inner-header flex">
                <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <div>
                    <a href="/cheer" class="btn btn--orange btn--cubic btn--shadow">励まし・慰め</a>
                    <a href="/praise" class="btn btn--orange btn--cubic btn--shadow">お褒め</a>
                    <a href="/love" class="btn btn--orange btn--cubic btn--shadow">ときめき</a>
                </div>
            </div >
            <!--Just the logo.. Don't mind this-->
        </div>
    </body>
    </center>
</html>
{% endblock %}
